*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Signika', sans-serif;
}

/* **************NAVBAR***************** */

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 0px 2.5%;
  z-index: 10;
}



.logo_div{
  order: 2;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_div img{
  width: 77.5px;
  height: 55px;
  margin-top: 2.5px;
  cursor: pointer;
}

.menu_div{
  position: fixed;
  top: 90px;
  left: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100vw;
  height: calc(100vh - 90px);
  padding: 20px 10px;
  opacity: 0;
  transition: left .5s ease, opacity .5s ease;
  z-index: 10;
}

.menu_div.active{
  left: 0px;
  opacity: 1;
}

.menu_div a{
  display: block;
  color: white;
  text-align: center;
  margin: 30px 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .menu_div a:hover{
    color: rgb(6, 147, 212);
  }
}

.hamburger_div{
  width: 110px;
  display: flex;
  align-items: center;
}

.hamburger_div img{
  order: 1;
  width: 22.5px;
  height: 25px;
  cursor: pointer;
}

.contact_div{
  order: 3;
  width: 110px;
  text-align: right;
}

.contact_div button{
  outline: none;
  border: 2px solid rgb(6, 147, 212);
  background: black;
  color:rgb(6, 147, 212);
  padding: 2.5px;
  border-radius: 5px;
  font-size: 8.5px;
  text-align: right;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .contact_div button:hover{
    background: rgb(6, 147, 212);
    color: white;
  }
}

.contact_info{
  position: fixed;
  top: 90px;
  right: -100%;
  width: 100%;
  min-height: 400px;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  background: black;
  opacity: 0;
  transition: right .5s ease, opacity .5s ease;
  z-index: 10;
  color: white;
  text-align: center;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_info.active{
  right: 0px;
  opacity: 1;
}

.contact_info div h2{
  color: white;
  width: 100%;
  margin: 0px auto;
  max-width: 450px;
  text-align: center;
}

.contact_info h4{
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.contact_info a{
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background: rgb(6, 147, 212);
  cursor: pointer;
}

@media screen and (min-width: 450px){
  .contact_div button{
    font-size: 12.5px;
  }
}

@media screen and (min-width: 800px){
  .menu_div{
    position: static;
    order: 2;
    padding: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    height: 100%;
    transition: all 0s;
    width: 45%;
    max-width: 500px;
  }
  
  .hamburger_div{
    display: none;
    order: -1;
    
  }

  .logo_div{
    order: 1;
    margin-right: 0px;
    margin-left: 0px;
    width: 110px;
  }

  .contact_div{
    order: 3;
    width: 110px;
  }
}




/* ***********************HOME******************* */

.home_section{
  margin-top: 90px;
  background: rgb(32, 32, 32);
  color: white;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.65), black), url(./images/intro_background.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rachid_intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 70px;
  max-width: 450px;
}

.rachid_intro h1{
  font-size: 37.5px;
  text-align: center;
}

.rachid_intro p{
  font-size: 12.5px;
  margin: 15px auto;
  margin-bottom: 25px;
  max-width: 400px;
  text-indent: 20px;
  text-align: justify;
}

@media screen and (min-width: 330px) {
  .rachid_intro h1{
    font-size: 45px;
  }

  .rachid_intro p{
    font-size: 15px;
  }
}

.intro_links a{
  border: 2px solid rgb(6, 147, 212);
  border-radius: 5px;
  color:rgb(6, 147, 212);
  text-decoration: none;
  padding: 5px;
  margin: 0px 2.5px;
  cursor: pointer;
}

.intro_links a:hover{
  background: rgb(6, 147, 212);
  color: white;
}

/* ********************MY STORY******************* */

.about_section{
  width: 90%;
  margin: 0px auto;
  max-width: 800px;
  margin-bottom: 45px;
}

.about_section h1{
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 45px;
}

.about_section p{
  text-indent: 20px;
  margin-bottom: 10px;
  font-size: 17.5px;
  text-align: justify;
}

#interest{
  text-align: center;
  margin: 20px auto;
}


/* *************My Work************** */

.work_section{
  background: rgb(32, 32, 32);
  color: white;
  text-align: center;
  padding-bottom: 45px;
}

.work_section h1{
  font-size: 35px;
  padding-top: 45px;
  padding-bottom: 10px;
}

.projects_container{
  width: 95%;
  margin: 10px auto;
  max-width: 700px;
  background: white;
  border-radius: 5.75px;
}

.projects_nav{
  background: black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  border-top: 3px solid black;
}

.projects_nav button{
  margin: 5px;
  padding: 5px;
  background: black;
  color: rgb(6, 147, 212);
  border: 2px solid  rgb(6, 147, 212);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.projects_nav .active{
  background:  rgb(6, 147, 212);
  color: whitesmoke;
}

.projects_nav button:hover{
  background:  rgb(6, 147, 212);
  color: whitesmoke;
}

.projects_container .project_div{
  padding: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project_image_container{
  position: relative;
  width: 100%;
  max-width: 600px;
}

.project_image_container:after{
  content: "";
  display: block;
  padding-bottom: 55%;
}

.projects_container .project_div img{
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  width: 100%; 
  height: 100%; 
  object-position: top;
  background: lightgrey;
}

.project_div .project_description{
  margin-top: 15px;
  width: 100%;
  padding: 5px;
}


.project_description p{
  text-align: justify;
  margin: 0px auto;
  text-indent: 20px;
  margin-top: 10px;
  max-width: 600px;
}

.project_description .project_buttons{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project_description a{
  background: black;
  border: 2px solid rgb(6, 147, 212);
  color:  rgb(6, 147, 212);
  padding: 10px;
  border-radius: 5px;
  margin: 2.5px;
  cursor: pointer;
  text-decoration: none;
}

.project_description a:hover{
  background:  rgb(6, 147, 212);
  color: white;
}


/* *********************FOOTER*********************** */

.footer_div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 2.5%;
  /* max-width: 650px; */
  margin: 0px auto;
  background: black;
}

.footer_contact{
  width: 50%;
}

.footer_contact h2{
  font-size: 12.5px;
  color: white;
}

.social_media{
  width: 50%;
  text-align: right;
}

.social_media a{
  text-decoration: none;
}

.social_media img{
  width: 40px;
  padding-left: 10px;
}

@media screen and (min-width: 330px){
  .footer_contact h2{
      font-size: 15px;
  }
  .social_media img{
      width: 50px;
  }
}